body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0 !important;
    color: #323232;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p {
    font-size: 14px;
    line-height: 24px;
    color: #666;
}


/* --------------------------------------
    2. General Styles
-------------------------------------- */
html {
    scroll-behavior: smooth;
  }
body {
    background: #f6f8f8;
}

a {
    color: #3cbeee;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

    a:hover {
        color: #3cbeee;
    }

    a:hover,
    a:focus,
    a:visited {
        text-decoration: none !important;
        outline: none !important
    }

input {
    outline: none !important;
}

button {
    outline: none !important;
}

.main-content {
    padding: 80px 0;
    padding-bottom: 0px;
}

.pad80 {
    padding: 80px 0 0 0;
}

.pad70 {
    padding: 70px 0 0 0;
}

.pad40 {
    padding: 40px 0 0 0;
}

.section-title {
    text-align: center;
    margin: 0 !important;
    text-transform: uppercase;
}

    .section-title:after {
        content: url(../images/shapes/wave-blue.svg);
        display: block;
        width: 70px;
        margin: 0 auto;
        padding: 0px 0 20px 0;
        text-transform: uppercase;
    }

.section-descr {
    text-align: center;
    margin: 0;
}


/* --------------------------------------
    3. Buttons
-------------------------------------- */

.btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    /* text-transform: uppercase; */
    letter-spacing: 1.2px;
    padding: 10px 25px;
    position: relative;
    background: #3cbeee;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    color: #fefefe;
    box-shadow: 5.5px 9px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}

    .btn:focus,
    .btn:hover {
        color: #fefefe;
        box-shadow: none;
    }

.btn-border {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 25px;
    position: relative;
    border: 2px solid #3cbeee;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    color: #999;
}

    .btn-border.active {
        background: #3cbeee;
        color: #f6f8f8;
    }
    .btn-edit {
        font-family: 'Montserrat', sans-serif;
        font-size: 9px;
        font-weight: 700;
        /* text-transform: uppercase; */
        /* letter-spacing: 1.2px; */
        /* padding: 10px 25px; */
        position: relative;
        /* background: #3cbeee; */
        /* -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px; */
        /* border-radius: 25px; */
        /* color: #fefefe; */
        box-shadow: 5.5px 9px 15px 0px rgba(0, 0, 0, 0.2);
        -webkit-transition: all .8s ease;
        -moz-transition: all .8s ease;
        -ms-transition: all 0.8s ease;
        -o-transition: all .8s ease;
        transition: all .8s ease;
    }
/* --------------------------------------
    4. Header 
-------------------------------------- */

header {
    position: absolute;
    width: 100%;
    z-index: 999;
    -webkit-transition: .6s all ease;
    -moz-transition: .6s all ease;
    -ms-transition: .6s all ease;
    -o-transition: .6s all ease;
    transition: .6s all ease;
}

nav.navbar {
    background: none;
    border: none;
    margin: 70px 0 0 0;
    padding: 0;
}

.navbar-brand img {
    height: 30px;
    cursor: pointer;
}

.navbar-header {
    float: right;
}

.navbar-toggle {
    display: block;
    border: none;
    margin: 18px 0;
    padding: 0;
}

    .navbar-toggle:hover,
    .navbar-toggle:focus {
        background: none;
    }

.navbar-default .navbar-toggle .icon-bar {
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    background: url(../images/shapes/wave-white.svg) no-repeat;
}

div#main-nav .nav {
    padding-top: 20px;
    margin: 0;
}

div#main-nav h3 {
    text-align: center;
    color: #f6f8f8;
    text-transform: uppercase;
    padding: 20px 0;
}

    div#main-nav h3:after {
        content: url(../images/shapes/wave-white.svg);
        display: block;
        width: 60px;
        margin: 0 auto;
        text-transform: uppercase;
        position: relative;
    }

.navbar .navbar-nav > li > a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #f6f8f8 !important;
    padding-left: 30px;
}

    .navbar .navbar-nav > li > a:hover {
        color: #3cbeee !important;
        -webkit-transition: 0.3s ease-in;
        -moz-transition: 0.3s ease-in;
        -ms-transition: 0.3s ease-in;
        -o-transition: 0.3s ease-in;
        transition: 0.3s ease-in;
    }

.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
    background: none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background: none !important;
    color: #3cbeee !important;
}


/* --------------------------------------
    5. Home Page
-------------------------------------- */


/**************** 5.1 Main Section - Slider ****************/

section.main {
    position: relative;
}


/* ---- Slider ---- */

.fullscreen {
    top: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.overlay:before {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    overflow: hidden;
    z-index: 2;
    position: absolute;
    top: 0;
    opacity: .9;
}

.overlay:after {
    background: -moz-linear-gradient(left, #3cbeee -40%, #003042 140%);
    background: -webkit-linear-gradient(left, #3cbeee -40%, #003042 140%);
    background: linear-gradient(to right, #3cbeee -40%, #003042 140%);
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    overflow: hidden;
    z-index: 3;
    position: absolute;
    top: 0;
    opacity: .3;
}

.home-content {
    position: relative;
    top: 35%;
    z-index: 15;
    text-align: center;
}

    .home-content h3 {
        color: #fefefe;
        font-weight: 400;
    }

        .home-content h3 span {
            font-size: 72px;
            font-weight: 700;
            font-family: 'Montserrat', sans-serif;
        }

        .home-content h3:after {
            content: url('../images/shapes/wave-blue.svg');
            display: block;
            width: 70px;
            margin: 0 auto;
            padding: 5px 0 20px 0;
        }

    .home-content h4 {
        color: #fefefe;
        font-weight: 400;
    }

        .home-content h4 span {
            color: #ff9900;
            font-family: inherit;
        }

    .home-content .cta {
        margin-top: 40px;
    }

        .home-content .cta .btn:hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
        }



/* ---- Scroll Down ---- */

.scroll-down {
    position: absolute;
    bottom: 0;
    z-index: 20;
    width: 100%;
    text-align: center;
}

    .scroll-down:before {
        content: url('../images/shapes/scroll-shape.svg');
        width: 100px;
        height: 49px;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: -1;
    }

    .scroll-down a {
        font-size: 30px;
        cursor: pointer;
        color: #323232;
    }

        .scroll-down a:hover {
            color: #3cbeee;
            font-size: 34px;
        }


/* Demos */

#index-image.fullscreen {
    background: url(../images/img/bg-img.jpg) no-repeat;
    background-size: cover;
}


/**************** 5.2 projects Section ****************/

section#projects {
    text-align: center;
    overflow: hidden;
    position: relative;
}

    section#projects .about-image {
        background: url('../images/img/about-gif.gif');
        background-size: cover;
        min-height: 440px;
        z-index: 1;
    }

    section#projects .about-description {
        width: 70%;
        display: block;
        margin: 0 auto;
    }

    section#projects .btn {
        margin-top: 30px;
    }

    section#projects .logo-overlay {
        width: 300px;
        height: 300px;
        opacity: .1;
        position: absolute;
        top: -120px;
        right: -100px;
        background: url('../images/logo-mark.svg');
    }
/**************** 5.4 Training skills Section ****************/

section#skills {
    background: url('../images/img/skills-bg.png') no-repeat right bottom;
    background-size: cover;
    text-align: center;
}

    section#skills h4 {
        color: #999;
        padding: 20px 0;
        text-transform: uppercase;
    }

    section#skills .user-skills img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        z-index: 5;
        position: relative;
        box-shadow: 5.5px 9px 15px 0px rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

    section#skills .user-skills .btn {
        -webkit-transform: translateY(-100px) scale(0.3);
        -moz-transform: translateY(-100px) scale(0.3);
        -ms-transform: translateY(-100px) scale(0.3);
        -o-transform: translateY(-100px) scale(0.3);
        transform: translateY(-100px) scale(0.3);
        opacity: 0;
        z-index: 0;
    }


    /* when training course is clicked/active */

    section#skills .user-skills.active img {
        box-shadow: none;
    }

    section#skills .user-skills.active h4 {
        color: #323232;
    }

    section#skills .user-skills.active .btn {
        -webkit-transform: translateY(0) scale(1);
        -moz-transform: translateY(0) scale(1);
        -ms-transform: translateY(0) scale(1);
        -o-transform: translateY(0) scale(1);
        transform: translateY(0) scale(1);
        opacity: 1;
    }


    section#skills .benefit-image img {
        height: 400px;
        margin: 0 auto;
    }

    /**************** 5.9 Signup Section ****************/

section#signup {
    background: url(../images/img/signup-bg.png) no-repeat #3cbeee;
    background-position: left;
    padding: 60px 0;
}

    section#signup h3 {
        font-weight: 100;
        text-align: left;
        color: #a6ecff;
    }

        section#signup h3 strong {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            color: #f6f8f8;
        }

    section#signup .section-title:after {
        content: url(../images/shapes/wave-white.svg);
        display: block;
        width: 70px;
        margin: 0;
        padding: 0;
    }

    section#signup .col-md-4 {
        text-align: center;
    }

    section#signup .btn {
        color: #3cbeee;
        background: #f6f8f8;
        padding: 10px 35px;
        margin-top: 25px;
    }


/* --------------------------------------
    6. FOOTER
-------------------------------------- */

footer#main-footer {
    background: url(../images/img/footer-bg.png) no-repeat #267d9d;
    background-position: bottom center;
    background-size: cover;
    color: #f6f8f8;
    position: relative;
}

    footer#main-footer:before {
        content: '';
        background: url(../images/shapes/wave-top-footer.svg) no-repeat;
        background-position: bottom;
        background-size: cover;
        display: block;
        position: absolute;
        left: 0;
        top: -47px;
        width: 100%;
        height: 50px;
    }


/* footer top */

footer .footer-top {
    padding: 80px 0 50px 0;
}

    footer .footer-top img {
        height: 26px;
        margin-bottom: 30px;
    }

    footer .footer-top ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        footer .footer-top ul li {
            padding-bottom: 10px;
        }

            footer .footer-top ul li:last-child {
                padding: 0;
            }

    footer .footer-top h4 {
        color: #f6f8f8;
        padding-bottom: 30px;
        text-transform: uppercase;
    }

    footer .footer-top p {
        color: #f6f8f8;
    }

    footer .footer-top .about p {
        padding-bottom: 30px;
        margin: 0;
    }

    footer .footer-top .about i {
        padding-right: 50px;
    }

    footer .footer-top .footer-links li a {
        text-transform: capitalize;
        color: #f6f8f8;
    }

        footer .footer-top .footer-links li a:hover {
            color: #3cbeee;
        }

footer form .form-group {
    margin-top: 30px;
}

footer form .input-group {
    width: 100%;
}

footer form input.form-control {
    height: 40px;
    border: 0;
    border-radius: 20px;
    padding: 0 0 0 30px;
    width: 90% !important;
    opacity: .3;
    z-index: 0 !important;
}

footer .btn {
    position: absolute;
    right: 0;
    background: #f69504;
    border: 0;
    box-shadow: none;
}

    footer .btn:hover {
        background: #3cbeee;
    }


/*===============tables=========================*/

.content-table {
    border-collapse: collapse;
    margin: 50px auto;
    font-size: 15px;
    min-width: 800px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
 .content-table thead tr {
        background-color: #3cbeee;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
    }

td {
    text-align: left;
    margin-right: 100px;
    padding-right: 5%;
}
th {
    padding-right: 5%;
}
 .content-table tbody tr {
        border-bottom: 1px solid #dddddd;
 }

        .content-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .content-table tbody tr:last-of-type {
            border-bottom: 2px solid #3cbeee;
        }
        

        .edu {
            background-color: white;
            padding: 16px;
            border-radius: 10px;
        }